body{
    font-family: 'Montserrat' ,sans-serif;
    font-size: 20px;
    font-weight: 400;

}
.header {
    max-width: 320px;
    display: flex;
    flex-direction: row;
    background-color: #0B3157;
    margin: 40px auto;
    padding: 20px;
    align-self: center;
    align-items:center;
    color: white;
    justify-content: space-between;
    border-radius: 5px;
}

.menu{
    display: none;
    position: absolute;
}